<div class="bg-black">
    <div class="container bg-black py-2 px-2 p ">
        <div class="d-flex justify-content-between px-2 align-items-center">
            <div> <img src="./../../assets/logo/logo.svg" height="50px" width="120px" alt="seo"></div>
            <div class="d-block d-md-none">
                <mat-icon>menu</mat-icon>
            </div>
            <div class="d-flex align-items-center d-none d-md-flex ">
                <div class="me-3 text-white d-none d-md-block">Process</div>
                <div class="me-3 text-white d-none d-md-block">Benefits</div>
                <div class="me-3 text-white d-none d-md-block">Services</div>
                <div class="me-3 text-white d-none d-md-block">Portfolio</div>
                <div class="me-3 text-white d-none d-md-block" >FAQ</div>
                <div> <button class="btn d-none d-md-block">Read More</button></div>
            </div>
        </div>
    </div>
</div>