.btn {
    color: black;
    background-color: #B8FD51;
    border: 10px;
    height: auto;
    width: auto;
    border-radius: 3px;
    font-size: 16px;

}
mat-icon{
     color: white;
     cursor: pointer;
}