<footer class="bg-dark text-white py-4">
    <div class="container p-4">
        <div class="row border-bottom py-3">
            <!-- Our Services -->
            <div class="col-md-3 text-start">
                <div class="text-start">
                    <img src="./../../assets/logo/logo.svg" height="50px" width="120px" alt="seo">
                </div>
                <p class="">Click It - is a leading digital marketing agency
                    dedicated to driving success for businesses
                    online. With expertise in SEO, PPC, social
                    media, content creation, and more, we offer
                    tailored solutions to maximize ROI.
                    In the USA, UK, and Canada working with top-
                    tier clients, from start-ups to enterprises.</p>
            </div>
            <div class="col-md-3">
                <h2> Services</h2>
                <ul class="list-unstyled">
                    <li>SEO Marketing</li>
                    <li>Research Topic Trends</li>
                    <li>Email Marketing</li>
                    <li>Google PPC</li>
                </ul>
            </div>
            <!-- Our Location -->
            <div class="col-md-3">
                <h2>Our Location</h2>
                <ul class="list-unstyled">
                    <li>USA</li>
                    <li>UK</li>
                    <li>Canada</li>
                </ul>
            </div>
            <!-- Contact Us -->
            <div class="col-md-3">
                <h2>Contact Us</h2>
                <ul class="list-unstyled">
                    <li>Email: contact example.com</li>
                    <li>Phone: +1 234 567 890</li>
                </ul>
            </div>
        </div>

        <div>
         
            <div class="d-flex justify-content-between flex-wrap align-items-center py-4 p-md-4 px-0">

    <div>
        <div class="d-flex align-items-center">    
            <div class="me-3">Process</div>
            <div class="me-3">Benefits</div>
            <div class="me-3">Services</div>
            <div class="me-3">Portfolio</div>
            <div class="me-3">FAQ</div>
           
        </div>
    </div>

<div>
    <div class="text-center mt-2 mt-md-0">
        <p class="mb-0">&copy; 2024 Your Company. All rights reserved.</p>
    </div>

</div>
            </div>
        </div>
            </div>
</footer>