<div class="py-5">
    <div>
        <p class="text-center">
            Testimonial
        </p>
    </div>

    <div>
        <div class="font_style">
            Customer is Our Top <br>
            Priority
        </div>
        <p class="text-center">
            We survey all of our clients, the results of which go directly <br>
            to our CEO
        </p>
    </div>



    <div class="container border main bg">


        <div class="container p-5">
            <div class="p-3">
                <div class="logo">
                    Gym Story
                </div>
            </div>
            <div class="row mt-3 flex-wrap-reverse ">

                <div class="col-12 col-md-6 text-white px-4">
                    <div class="heading text-black text-start">
                        Kornix is the best digital agency i have <br>
                        ever seen! Highly Recommended!

                    </div>
                    <h4 class="para mt-3">
                        I recently hired Ideapeel for a custom web development
                        project and couldn't be happier with the results. The team
                        was able to bring my unique ideas to life and create a
                        website that truly stands out
                    </h4>

                    <div class="">
                        <div class="font_stylekl">Diana Loreza</div>
                        <div class="text-black">Director of Gymstory</div>

                    </div>
                </div>
                <div class="col-12 col-md-6 mb-3 mb-md-0 img_div text-center">
                    <img src="./../../assets/card/onne.svg" class="img-fluid rounded-circle" alt="seo"
                        style="height: 250px; width: 250px; object-fit: cover;">
                </div>

            </div>
        </div>
    </div>
</div>


<div class="bg-black p-4">
    <div>
        <div class="pt-4">
            <p class="text-center p-tag">Our capabilities</p>
        </div>

        <div>
            <h1 class="text-center text-white">We can help you with...</h1>
        </div>

        <div class="button-container d-flex justify-content-center">
            <button class="button_many">Web design & UI</button>
            <button class="button_many">Social media visuals</button>
            <button class="button_many">Infographics</button>
            <button class="button_many">Design system</button>
            <button class="button_many">Email design</button>
            <button class="button_many">Stationery</button>
            <button class="button_many">Icons</button>
            <button class="button_many">Packaging & merch</button>
            <button class="button_many">Signage</button>
            <button class="button_many">Brochures</button>
            <button class="button_many">Logos & branding</button>
            <button class="button_many">Digital ads</button>
            <button class="button_many">Wireframes</button>
        </div>
    </div>

    <div class="p-4">

        <div>
            <p class="text-start text-stylelo">BENEFITS</p>
        </div>
    </div>

    <div>
        <div class="p-4">
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <h1 class="display-4 text-white">
                        The design subscription <br>
                        that connects you to your <br>
                        dream team
                    </h1>
                </div>
                <div class="col-12 col-md-6">
                    <p class="text-white paratwo">
                        A subscription can alleviate the stress of staffing,
                        managing expenses, or make design calls like a
                        Creative Director. We partner with you to ensure
                        that your design elevates your brand to new levels.
                    </p>
                    <div class="mt-3">
                        <button class="buttont">Read More</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 ">
                <div class="card p-3 ">
                    <div class="d-flex align-items-center mb-3">
                        <mat-icon class="icon">all_inclusive</mat-icon>
                        <div class="name ms-3">
                            1. On-demand requests
                        </div>
                    </div>
                    <div class="py-2">
                        <p>Put all your requests in the design queue in Trello, and we’ll knock them out 1 by 1.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-2 mt-md-0">
                <div class="card p-3 ">
                    <div class="d-flex align-items-center mb-3">
                        <mat-icon class="icon">bolt</mat-icon>
                        <div class="name ms-3">
                            2.Top-notch quality
                        </div>
                    </div>
                    <div class="py-2">
                        <p>High-end work from a dedicated team of senior
                            designers that s always available when you need
                            it.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-2 mt-md-0">
                <div class="card p-3 ">
                    <div class="d-flex align-items-center mb-3">
                        <mat-icon class="icon">mode_dual</mat-icon>
                        <div class="name ms-3">
                            3. Powered by webflow
                        </div>
                    </div>
                    <div class="py-2">
                        <p>We build every site on Webflow, making
                            them dynamic, accessible, and easily
                            scalable. It s easy for you like Squarespace
                            but better.
                            </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-6 col-lg-4  ">
                <div class="card p-3 ">
                    <div class="d-flex align-items-center mb-3">
                        <mat-icon class="icon">sync_saved_locally</mat-icon>
                        <div class="name ms-3">
                            4. 9% Fast. Responsive. Reliable.
                        </div>
                    </div>
                    <div class="py-2">
                        <p>Get regular updates on your projects and
                            can expect to receive your designs within
                            2 3 days.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-2 mt-md-0">
                <div class="card p-3 ">
                    <div class="d-flex align-items-center mb-3">
                        <mat-icon class="icon">calendar_month</mat-icon>
                        <div class="name ms-3">
                            5. No Lock in contracts
                        </div>
                    </div>
                    <div class="py-2">
                        <p>Pay the same every month, no surprises.
                            You can use it for as long as you want and
                            cancel anytime.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-2 mt-md-0">
                <div class="card p-3">
                    <div class="d-flex align-items-center mb-3">
                        <mat-icon class="icon">workspace_premium</mat-icon>
                        <div class="name ms-3">
                            6. Great value for money
                        </div>
                    </div>
                    <div class="py-2">
                        <p>Get the power of dedicated design team
                            at fraction of the cost of full-time
                            employee. ($54k/yr vs. $112k/yr).</p>
                    </div>
                </div>
            </div>

        </div>
        <div class="row mt-2">
            <div class="col-12 col-md-6 col-lg-4  ">
                <div class="card p-3 ">
                    <div class="d-flex align-items-center mb-3">
                        <mat-icon class="icon">settings</mat-icon>
                        <div class="name ms-3">
                            7. Customized for you
                        </div>
                    </div>
                    <div class="py-2">
                        <p>We design and build custom for you. We re
                            never starting from a template unless you
                            want that? You don t, right?
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-2 mt-md-0">
                <div class="card p-3 ">
                    <div class="d-flex align-items-center mb-3">
                        <mat-icon class="icon">paid</mat-icon>
                        <div class="name ms-3">
                            8. Creative paying
                        </div>
                    </div>
                    <div class="py-2">
                        <p>We re here when you need us and not on
                            payroll when you don t.
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4 mt-2 mt-md-0">
                <div class="card p-3">
                    <div class="d-flex align-items-center mb-3">
                        <mat-icon class="icon">engineering</mat-icon>
                        <div class="name ms-3">
                            9. Expert turnovers
                        </div>
                    </div>
                    <div class="py-2">
                        <p>ou re getting 10+ years of design
                            experience with every full energy .</p>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div>

    </div>
</div>
<div class="bg-black p-4">
    <div>
        <div class="pt-4">
            <p class="text-center p-tag">Clear & Simple Pricing</p>
        </div>

        <div>
            <h1 class="text-center text-white">Simple pricing to level up your brand.</h1>
        </div>
        <p class="text-center text-white-50">Senior experts. On-demand requests. Fast <br>
            turnarounds. Flat monthly fee. Cancel anytime.</p>
    </div>


    <div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="me-3">
                <div class="p-4 border rounded ">
                    <div class="d-flex justify-content-around align-items-center ">
                        <div class="one_text">Standard</div>
                        <div><button class="buttont">Most Populer</button></div>
                    </div>

                    <div class="p-2 border-bottom">
                        <p class="text-white-50">One request at a time. For companies who <br>
                            need on-going design support.</p>
                    </div>

                    <div class="p-2 border-bottom">
                        <h1 class="text_change">$2,995/m </h1>
                        <p class="text-white-50">Pause or cancel anytime</p>
                    </div>

                    <div class="p-4">
                        <!-- Item 1 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                1x active task at a time
                            </div>
                        </div>

                        <!-- Item 2 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                Unlimited revisions
                            </div>
                        </div>

                        <!-- Item 3 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                Basic SEO
                            </div>
                        </div>

                        <!-- Item 4 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                Daily comms through Slack
                            </div>
                        </div>

                        <!-- Item 5 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                Work with Expert
                            </div>
                        </div>

                        <!-- Item 6 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                2-3 days turn around time
                            </div>
                        </div>

                        <!-- Item 7 -->
                        <div class="d-flex justify-content-start pr-5">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                Top tier design
                            </div>
                        </div>
                    </div>


                    <div class="p-4">

                        <div class="w-100">
                            <button class="button_btn_one">Book a call</button>
                        </div>
                    </div>
                    <div class="px-4 py-1">

                        <div class="w-100">
                            <button class="button_btn">Click To Buy</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="me-3 mt-md-0 mt-2">
                <div class="p-4 border rounded ">
                    <div class="d-flex justify-content-around align-items-center ">
                        <div class="one_text">Growth</div>
                        <div><button class="buttonk">Best Value</button></div>
                    </div>

                    <div class="p-2 border-bottom">
                        <p class="text-white-50">Double the requests. For companies with <br>
                            increasing design needs. Limited spots. </p>
                    </div>

                    <div class="p-2 border-bottom">
                        <h1 class="text_change">$4,795/m</h1>
                        <p class="text-white-50">Pause or cancel anytime</p>
                    </div>

                    <div class="p-4">
                        <!-- Item 1 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                2x active task at a time
                            </div>
                        </div>

                        <!-- Item 2 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                Unlimited revisions
                            </div>
                        </div>

                        <!-- Item 3 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                Dedicated SEO Analyst
                            </div>
                        </div>

                        <!-- Item 4 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                Daily comms through Slack
                            </div>
                        </div>

                        <!-- Item 5 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                Work with Expert
                            </div>
                        </div>

                        <!-- Item 6 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                2-3 days turn around time

                            </div>
                        </div>

                        <!-- Item 7 -->
                        <div class="d-flex justify-content-start pr-5">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">

                                Top tier Content Writer
                            </div>
                        </div>
                    </div>


                    <div class="p-4">

                        <div class="w-100">
                            <button class="button_btn_one">Book a call</button>
                        </div>
                    </div>
                    <div class="px-4 py-1">

                        <div class="w-100">
                            <button class="button_btn">Click To Buy</button>
                        </div>
                    </div>

                </div>
            </div>

            <div class="me-3 mt-md-0 mt-2">
                <div class="p-4 border rounded ">
                    <div class="d-flex justify-content-start align-items-center my-2 ">
                        <div class="one_text">Basic - Weekly</div>
                        <!-- <div><button class="buttont">Most Populer</button></div> -->
                    </div>

                    <div class="p-2 border-bottom">
                        <p class="text-white-50">Perfect if you want to try the subscription out <br>
                            or only have a few one-off tasks.</p>
                    </div>

                    <div class="p-2 border-bottom">
                        <h1 class="text_change">$890/m </h1>
                        <p class="text-white-50">Paid per weekly</p>
                    </div>

                    <div class="p-4">
                        <!-- Item 1 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                Fixed Scope of work
                            </div>
                        </div>

                        <!-- Item 2 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                2 rounds of revisions
                            </div>
                        </div>

                        <!-- Item 3 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                Advance SEO
                            </div>
                        </div>

                        <!-- Item 4 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                Daily comms through Slack
                            </div>
                        </div>

                        <!-- Item 5 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                1x designer and 1x SEO person
                            </div>
                        </div>

                        <!-- Item 6 -->
                        <div class="d-flex justify-content-start pr-5 mb-2">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                2-5 days turn around time
                            </div>
                        </div>

                        <!-- Item 7 -->
                        <div class="d-flex justify-content-start pr-5">
                            <div><mat-icon class="icon">add</mat-icon></div>
                            <div class="text_box ms-2">
                                Top Content Writer & design
                            </div>
                        </div>
                    </div>


                    <div class="p-4">

                        <div class="w-100">
                            <button class="button_btn_one">Book a call</button>
                        </div>
                    </div>
                    <div class="px-4 py-1">

                        <div class="w-100">
                            <button class="button_btn">Click To Buy</button>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>




    <div>

    </div>
</div>
<div class="bg-black p-4">
    <div>
        <div class="pt-4">
            <p class="text-center p-tag">BLOGS</p>
        </div>

        <div>
            <h1 class="text-center text-white">News & Articles</h1>
        </div>
        <p class="text-center text-white-50">Best Articles to get started.</p>
    </div>
    <div>


        <!-- <div class="border rounded">
            <div class="d-flex flex-wrap">
                <div class="border">
                    <div>
                      
                        <img src="./../../assets/card-img/logo.jpg" class="w-100 w-md-auto" alt="Background Image" style="height: 200px; object-fit: cover;">
                    </div>
                </div>
                <div>
                    <div class="d-flex flex-column ms-md-4 p-3">
                        <div class="py-2 text-brand">Branding</div>
                        <div class="text-white text-zo py-2">What is the branding, and what we need it?</div>
                        <div class="text-white-50 py-4">On the other hand, we denounce with righteous indignation and…</div>
                    </div>
                </div>
            </div>
        </div> -->
        
        
        <div class="container">
            <div class="row">
        
                <div class="col-12 col-md-6 mb-4">
                    <div class="border rounded">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                            <div>
                                <img src="./../../assets/card-img/logo.svg" alt="Background Image" class="img-fluid"
                                    width="200px" style="object-fit: cover;">
                            </div>
                            <div class="d-flex flex-column ms-md-4 py-3 px-md-0 px-3">
                                <div class="py-2 text-brand">Branding</div>
                                <div class="text-white text-zo py-2">What is the branding, and what we need it?</div>
                                <div class="text-white-50 py-4">On the other hand, we denounce with righteous
                                    indignation and…</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="border rounded">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                            <div>
                                <img src="./../../assets/card-img/tiktok.svg" alt="Background Image" class="img-fluid"
                                    width="200px" style="object-fit: cover;">
                            </div>
                            <div class="d-flex flex-column ms-md-4 py-3 px-md-0 px-3">
                                <div class="py-2 text-brand">Tiktok</div>
                                <div class="text-white text-zo py-2">What is the branding, and what we need it?</div>
                                <div class="text-white-50 py-4">On the other hand, we denounce with righteous
                                    indignation and…</div>
                            </div>
                        </div>
                    </div>
                </div>

            
            </div>
            <div class="row">
        
                <div class="col-12 col-md-6 mb-4">
                    <div class="border rounded">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                            <div>
                                <img src="./../../assets/card-img/Shoes.svg" alt="Background Image" class="img-fluid"
                                    width="200px" style="object-fit: cover;">
                            </div>
                            <div class="d-flex flex-column ms-md-4 py-3 px-md-0 px-3">
                                <div class="py-2 text-brand">Logo Design</div>
                                <div class="text-white text-zo py-2">What is the branding, and what we need it?</div>
                                <div class="text-white-50 py-4">On the other hand, we denounce with righteous
                                    indignation and…</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="border rounded">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                            <div>
                                <img src="./../../assets/card-img/NFT.svg" alt="Background Image" class="img-fluid"
                                    width="200px" style="object-fit: cover;">
                            </div>
                            <div class="d-flex flex-column ms-md-4 py-3 px-md-0 px-3">
                                <div class="py-2 text-brand">NFT</div>
                                <div class="text-white text-zo py-2">What is the branding, and what we need it?</div>
                                <div class="text-white-50 py-4">On the other hand, we denounce with righteous
                                    indignation and…</div>
                            </div>
                        </div>
                    </div>
                </div>

            
            </div>
            <div class="row">
        
                <div class="col-12 col-md-6 mb-4">
                    <div class="border rounded">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                            <div>
                                <img src="./../../assets/card-img/AI.svg" alt="Background Image" class="img-fluid"
                                    width="200px" style="object-fit: cover;">
                            </div>
                            <div class="d-flex flex-column ms-md-4 py-3 px-md-0 px-3">
                                <div class="py-2 text-brand">AI</div>
                                <div class="text-white text-zo py-2">What is the branding, and what we need it?</div>
                                <div class="text-white-50 py-4">On the other hand, we denounce with righteous
                                    indignation and…</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mb-4">
                    <div class="border rounded">
                        <div class="d-flex flex-column flex-md-row align-items-center">
                            <div>
                                <img src="./../../assets/card-img/NFT.svg" alt="Background Image" class="img-fluid"
                                    width="200px" style="object-fit: cover;">
                            </div>
                            <div class="d-flex flex-column ms-md-4 py-3 px-md-0 px-3">
                                <div class="py-2 text-brand">NFT 2.0</div>
                                <div class="text-white text-zo py-2">What is the branding, and what we need it?</div>
                                <div class="text-white-50 py-4">On the other hand, we denounce with righteous
                                    indignation and…</div>
                            </div>
                        </div>
                    </div>
                </div>

            
            </div>

     
        </div>
        <div class="p-4 text-center">
           <button class="loadmore px-5 py-auto">
            Load more
           </button>
        </div>

    </div>






</div>