<div class="bg-black py-5 d-none d-md-block ">
    <div class="p-4">
        <div class="heading text-center">Services</div>
        <div class="sub_heading text-center pt-4">Strategic services drive digital success with tailored, comprehensive
            approaches</div>
    </div>

    <div>
        <div class="d-flex flex-wrap justify-content-center">
            <div class="border  p-4 card me-4 mt-1 d-flex flex-column justify-content-between">
                <div class="d-flex flex-grow-1 align-items-center justify-content-center">
                    <img src="./../../assets/icon/seo.png" height="100px" width="100px" alt="seo">
                </div>
                <div class="text-center card_font">
                    SEO Marketing
                </div>
            </div>
            
            
            
            <div class="border  p-4 card me-4 mt-1 d-flex flex-column justify-content-between">
                <div class="d-flex flex-grow-1 align-items-center justify-content-center">
                    <img src="./../../assets/icon/writer.png" height="100px" width="100px" alt="seo">
                </div>
                <div class="text-center card_font">
                    Content Marketing
                </div>
            </div>
            <div class="border  p-4 card me-4 mt-1 d-flex flex-column justify-content-between">
                <div class="d-flex flex-grow-1 align-items-center justify-content-center">
                    <img src="./../../assets/icon/social-media.png" height="100px" width="100px" alt="seo">
                </div>
                <div class="text-center card_font">
                    Social Media
Management
                </div>
            </div>
        </div>
        <div class="d-flex flex-wrap justify-content-center mt-md-4 mt-1 ">
            <div class="border  p-4 card me-4 mt-1 d-flex flex-column justify-content-between">
                <div class="d-flex flex-grow-1 align-items-center justify-content-center">
                    <img src="./../../assets/icon/pay-per-click.png" height="100px" width="100px" alt="seo">
                </div>
                <div class="text-center card_font">
                    PPC
                </div>
            </div>
            <div class="border  p-4 card me-4 mt-1 d-flex flex-column justify-content-between">
                <div class="d-flex flex-grow-1 align-items-center justify-content-center">
                    <img src="./../../assets/icon/newsletter.png" height="100px" width="100px" alt="seo">
                </div>
                <div class="text-center card_font">
                    Email Marketing
                </div>
            </div>
        
        </div>
    </div>
</div>

<div class="p-5 bg-black  w-100 d-block d-md-none">

<div >
    <div class="d-flex justify-content-start align-items-center">
        <div class="me-2"> <img src="./../../assets/card/one.jpg" height="50px" width="50px" alt="seo"></div>
        <div class="text-white font-weight">SEO Marketing</div>
    </div>
    <div class="d-flex justify-content-start align-items-center py-1 ">
        <p class="text-white">Enhance your website’s visibility and rank higher
            on search engines with our expert SEO services.
            We optimize your site’s content, structure, and
            performance to attract more organic traffic,
            ensuring your business stands out in search
            results.</p>
    </div>
    <div class="w-100">
        <button  class="button_UI">Read More</button>
    </div>

</div>

</div>