<app-header></app-header>

<div class="hero-section">
    <div class="background-overlay">
      <div class="centered-text">
        <p> <b class="Colorletteer">Boost</b> Your Brand with <br>
            Innovative <b >Digital Marketing</b> 
             </p>
      </div>
    </div>
    <div>
        <p class="p_style">
            Drive Engagement and Conversions with Advanced Digital
            Marketing Strategies.
        </p>

    </div>
    <div class="buttonH">
        <div class="d-flex justify-content-center">
            <div class="me-3 d-block d-md-none" ><button class=" btn-primary px-4 py-1 ">Out Works</button></div>
            <div><button class="btn px-4" >Start Now</button></div>
        </div>
    </div>
  </div>


  
<div class="m-0 p-0">

    <div class="text-center bg-black p_font p-2"><b>-----</b>Trusted by thousand companies <b>-----</b></div>

</div>

<div class="p-3 bg-black">
    <div class="p-3 bg-black">
        <div class="container">
            <div class="d-flex flex-wrap bg-color py-3 justify-content-center align-items-center">
                <div>
                    
                </div>
                <div class="d-flex flex-column flex-md-row align-items-center me-3 mb-3 col-12 col-md-auto">
                    <mat-icon class="me-3">layers</mat-icon>
                    <div class="text_style1">Layers</div>
                </div>
                <div class="d-flex flex-column flex-md-row align-items-center me-3 mb-3 col-12 col-md-auto">
                    <mat-icon class="me-3">animation</mat-icon>
                    <div class="text_style1">Quotient</div>
                </div>
                <div class="d-flex flex-column flex-md-row align-items-center me-3 mb-3 col-12 col-md-auto">
                    <mat-icon class="me-3">psychology</mat-icon>
                    <div class="text_style1">Circooles</div>
                </div>
                <div class="d-flex flex-column flex-md-row align-items-center me-3 mb-3 col-12 col-md-auto">
                    <mat-icon class="me-3">hourglass_top</mat-icon>
                    <div class="text_style1">Hourglass</div>
                </div>
                <div class="d-flex flex-column flex-md-row align-items-center me-3 mb-3 col-12 col-md-auto">
                    <img src="" alt="" class="me-3" style="width: 24px;">
                    <mat-icon class="me-3">keyboard_command_key</mat-icon>
                    <div class="text_style1">Command+R</div>
                </div>
                <div class="d-flex flex-column flex-md-row align-items-center me-3 mb-3 col-12 col-md-auto">
                    <mat-icon class="me-3">layers</mat-icon>
                    <div class="text_style1">Layers</div>
                </div>
            </div>
        </div>
    </div>
    
</div>

