<div class="p-4 bg-color">
    <div class="px-5 container">
        <div>
            <h1 class="text-md-start text-center">Why Choose Us? -------------</h1>
        </div>
    </div>

    <div class="container p-5">
        <div class="row ">
            <div class="col-12 col-md-6 mb-3 mb-md-0 img_div">
                <img src="./../../assets/choose-us/download (4).jpg" class="img-fluid img-rounded" alt="seo"
                    style="max-height: 400px; width: 100%; object-fit: cover;">
            </div>
            <div class="col-12 col-md-6 text-white px-4">
                <div class="heading text-md-start text-center">
                    Solutions Tailored <br>
                    Specifically to Your <br>
                    Business Needs
                </div>
                <h4 class="text-md-start text-center">
                    We provide customized solutions for your
                    business needs, ensuring relevance and
                    success.
                </h4>
                <div class="d-none d-md-block text-md-start text-center">
                    <button class="btn">Read More</button>
                </div>
                <div class="d-block d-md-none text-md-start text-center">
                    <button class="btn_two">Read More</button>
                </div>
            </div>

        </div>
    </div>

    <div class="container p-5">
        <div class="row flex-wrap-reverse ">
            <div class="col-12 col-md-6 text-white px-4">
                <div class="heading text-md-start text-center">
                    Creative Excellence <br>
                    Elevates Every Project


                </div>
                <h4 class="text-md-start text-center">
                    Creative excellence drives our work. From
                    concept to execution, we aim for exceptional
                    results
                </h4>
                <div class="d-none d-md-block text-md-start text-center">
                    <button class="btn">Read More</button>
                </div>
                <div class="d-block d-md-none text-md-start text-center">
                    <button class="btn_two">Read More</button>
                </div>
            </div>
            <div class="col-12 col-md-6 mb-3 mb-md-0 img_div">
                <img src="./../../assets/choose-us/Diploma in Amazon Kindle Publishing.jpg" class="img-fluid img-roundedb" alt="seo"
                    style="max-height: 400px; width: 100%; object-fit: cover;">
            </div>
          

        </div>
    </div>
    <div class="container p-5">
        <div class="row ">
            <div class="col-12 col-md-6 mb-3 mb-md-0 img_div">
                <img src="./../../assets/choose-us/Salonist Blog - Salon Software df.jpg" class="img-fluid img-roundedb 
                " alt="seo"
                    style="max-height: 400px; width: 100%; object-fit: cover;">
            </div>
            <div class="col-12 col-md-6 text-white px-4">
                <div class="heading text-md-start text-center">
                    Client Satisfaction is Our <br>
                    Main Focus
                </div>
                <h4 class="text-md-start text-center">
                    Our main goal is your satisfaction, and we
                    work tirelessly to ensure that you are pleased
                    with the results we achieve together
                </h4>
                <div class="d-none d-md-block text-md-start text-center">
                    <button class="btn">Read More</button>
                </div>
                <div class="d-block d-md-none text-md-start text-center">
                    <button class="btn_two">Read More</button>
                </div>
            </div>

        </div>
    </div>


</div>


<div class="bg-black">

    <div class="p-4">
        <div class="text-center px-5 px-md-2 font_style_three text-white">Work with Click it new Tech</div>
    </div>


    <div>
        <div class="d-flex justify-content-center flex-wrap">

            <div class=" rounded p-3 me-5 mt-2">
                <div class="text-center">
                    <div class="bg-whites rounded-circle mx-auto p-3 d-inline-block" style="background-color: #B8FD51;">
                        <mat-icon class="custom-icon">groups</mat-icon>
                    </div>
                    <div class="font_style_four mt-3" style="font-size: 24px; font-weight: bold;">
                        10,000+
                    </div>
                    <div class="font_style_five mt-3">
                        Happy Customers
                    </div>
                </div>
            </div>
            <div class=" rounded p-3 me-5 mt-2">
                <div class="text-center">
                    <div class="bg-whites rounded-circle mx-auto p-3 d-inline-block" style="background-color: #B8FD51;">
                        <mat-icon class="custom-icon">groups</mat-icon>
                    </div>
                    <div class="font_style_four mt-3" style="font-size: 24px; font-weight: bold;">
                        20,000+

                    </div>
                    <div class="font_style_five mt-3">
                        Success Processes
                    </div>
                </div>
            </div>
            <div class=" rounded p-3 me-5 mt-2">
                <div class="text-center">
                    <div class="bg-whites rounded-circle mx-auto p-3 d-inline-block" style="background-color: #B8FD51;">
                        <mat-icon class="custom-icon">star</mat-icon>
                    </div>
                    <div class="font_style_four mt-3" style="font-size: 24px; font-weight: bold;">
                        10+ Years

                    </div>
                    <div class="font_style_five mt-3">
                        of Experience
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>